.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }
  
  .Button {
    padding: 40px;

  }

  .text {
      text-align: center;
      font-size: 30px;
  }